@import "config";
@import "utilities";
@import "buttons";
@import "slide";
@import "./components/header";
@import "./components/footer";

/**********************************Hero section********************************/

.hero__section {
  width: 100%;
  height: 100vh;
  background-image: url(../img/CarepDiemBanner-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 100px;
  //display: flex;
  //justify-content: end;
  //position: relative;
  //align-items: center;

  &__content {
    padding: 0.3em;
    position: relative;
    top: 200px;
    //left: 800px;
    display: flex;
    justify-content: end;
    margin-left: auto;
    text-align: end;
    max-width: 600px;
    font-size: large;
    text-align: center;
    color: white;
    background-color: rgba(45, 101, 204, 0.568);
    box-shadow: 0 0 30px rgba(24, 19, 19, 0.1);
    backdrop-filter: blur(5px);
  }
}

/**********************************About us section********************************/
.mobile__content__info {
  display: none;
  flex-direction: column;
  gap: 30px;

  img {
    width: 100%;
  }

  @media (max-width: 992px) {
    display: flex;
    width: 100%;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: $primary-color;
    //box-shadow: 0 0 30px rgba(24, 19, 19, 0.1);
    backdrop-filter: blur(5px);
  }
}
.section__info {
  //background-color: $primary-color;
  background: linear-gradient($primary-color, $secondary-color);
  color: white;
  padding: 70px 25px;

  &__monthly {
    flex-basis: 50%;
    font-size: large;
    list-style-position: outside;
    gap: 60px;

    img {
      max-width: 400px;
      min-width: 300px;
      flex-basis: 50%;
      object-fit: contain;
      object-position: center;
    }
  }

  .monthly ul {
    font-size: large;
    list-style-position: outside;
    margin-left: 20px;
    padding: 30px;

    li {
      padding: 5px;
    }
  }

  h1 {
    padding-bottom: 20px;
    font-weight: 300;
  }
}

/**********************************Carousel********************************/

.section-carousel {
  align-items: center;
  padding: 50px 10px 30px;
  width: 100%;
  //background: linear-gradient($primary-color, $primary-dark-color);
  background-color: $primary-color;
  background: linear-gradient($secondary-color, $primary-color);
}

/**********************************Our offer section********************************/

.section__our__offer {
  // background: linear-gradient($primary-dark-color 10%, $primary-color 90%);
  background: linear-gradient($primary-color, $secondary-color);
  padding: 100px 40px;

  h1 {
    margin-bottom: 60px;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
  }
  &__wrapper {
    display: flex;
    row-gap: 40px;
    column-gap: 30px;
    align-items: baseline;
    justify-content: center;
    padding: 100px 0 50px;
  }

  &__icons__wrapper {
    flex-basis: 25%;

    .icons {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      color: white;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;

      img {
        width: 100%;
        border-radius: 10px;
        //box-shadow: 0 0 30px rgba(24, 19, 19, 0.1);
        box-shadow: 0 0 30px 5px #57f1bec2;
      }
      p {
        padding-top: 20px;
        font-size: 1.2em;
      }
    }

    .icons:hover,
    .icons:focus,
    .icons:active {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

/**********************************Map Section********************************/

.map__section {
  background: linear-gradient($secondary-color, $primary-color);
  width: 100%;
  //padding: 0 25px;
  @media (min-width: 992px) {
    padding-bottom: 200px;
  }

  @media (min-width: 768px) {
    padding-bottom: 100px;
  }
}

#map {
  margin: 0 auto;
  width: 100%;
  height: 300px;
}
/**********************************Responsive********************************/

@media (max-width: 1200px) {
  .hero__section {
    padding-right: 50px;
    &__content {
      top: 150px;
      font-size: medium;
    }
  }
  .section__our__offer {
    &__wrapper {
      flex-wrap: wrap;
      gap: 100px;
    }

    &__icons__wrapper {
      flex-basis: 40%;
    }
  }
}

@media (max-width: 992px) {
  .hero__section {
    height: 55vh;
    &__content {
      display: none;
    }
  }
  .section__our__offer {
    p {
      font-size: 1.2em;
    }
  }

  .footer {
    #map {
      width: 80%;
      height: 200px;
    }
    p {
      font-size: medium;
    }
  }
}

@media (max-width: 880px) {
  &__wrapper {
    padding: 60px 0 0px;
  }
  .section__our__offer {
    p {
      font-size: 1.1em;
    }
    .icons {
      font-size: medium;
    }
  }

  .footer__wrapper {
    gap: 40px;
    //padding: 0;
  }
}

@media (max-width: 768px) {
  .hero__section {
    background-image: url(../img/CarepDiem-1.jpg);
    background-size: cover;
    background-position: 24% 0;
    height: 90vh;
  }

  .section__info {
    padding: 20px 30px;

    .monthly li {
      font-size: 18px;
    }
  }

  .section__our__offer {
    flex-wrap: wrap;

    h1 {
      margin-bottom: 0;
    }

    p {
      font-size: 1em;
    }
  }

  .footer {
    &__content {
      flex-basis: 80%;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 576px) {
  .hero__section {
    background-image: url(../img/CarepDiem-1.jpg);
    background-size: 200%;
    background-position: 24% 0;
    height: 65vh;
  }
}

@media (max-width: 450px) {
  .hero__section {
    height: 55vh;
  }
  .section__our__offer {
    padding-bottom: 1.5em;

    &__wrapper {
      gap: 70px;

      .section__our__offer__icons__wrapper {
        flex-basis: 80%;
      }
    }
  }

  .footer {
    &__wrapper {
      padding: 20px 0;
    }
    &__content {
      row-gap: 1.5em;
    }

    img {
      margin-bottom: 0.5em;
    }

    #map {
      margin: 3em auto;
      width: 90%;
      height: 150px;
    }
  }
}

@media (max-width: 400px) {
  .hero__section {
    height: 50vh;
  }
}

@media (max-width: 360px) {
  .hero__section {
    height: 45vh;
  }
}
