/**********************************RESTART*******************************/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
main {
	display: block;
}

audio:not([controls]) {
	display: none;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 1em;
	line-height: 1.35;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

a {
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	outline: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 0;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q::before,
q::after {
	content: '';
}

small {
	font-size: 85%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

nav ul,
nav ol,
ul,
li {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

/**********************************BODY*******************************/
* {
  font-family: "Open Sans", sans-serif;
}
body {
  color: white;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #28aea3;
}
p {
  font-size: 18px;
  
}

section p {
  text-indent: 2em;
  padding: 2em;
}

a:hover {
  color: rgb(44, 173, 152);
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

i {
  color: white;
}

/**********************************Animations Configuration********************************/
.slide-down {
  opacity: 0;
  animation: slide-down 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-right {
  opacity: 0;
  animation: slide-right 0.5s linear forwards;
  animation-delay: 2.5s;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slide-left {
  opacity: 0;
  animation: slide-left 0.5s linear forwards;
  animation-delay: 3s;
}

@keyframes slide-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/***************************MENU BUTTON******************/
.hamburger {
  display: none;
}

.menu-btn-burger {
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  z-index: 5;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  z-index: 5;
}

.menu-btn-burger::before {
  transform: translateY(-12px);
  z-index: 5;
}

.menu-btn-burger::after {
  transform: translateY(12px);
  z-index: 5;
}

.hamburger.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  z-index: 3;
}

.hamburger.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  z-index: 3;
}

.hamburger.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  z-index: 3;
}

/******************************************Navigation bar slide*****************************************/
.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

@supports (backdrop-filter: blur(10px)) {
  .nav-links {
    backdrop-filter: blur(10px)
  }
}

@media (max-width: 920px) {
  .nav-links {
    display: flex;
    list-style: none;
    position: fixed;
    inset: 0 0 0 30%;
    background: rgb(11, 100, 172);
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    padding: min(30vh, 10rem) 2em;
    gap: 1em;
    font-size: large;
    z-index: 20;
    transition: all 1s ease-in-out;
    transform: translateX(100%);
  }
  .nav-links--open {
    transform: translateX(0%);
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 46%;
    z-index: 50;
    padding-right: 1em;
  }
}
/**********************************Header********************************/

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: linear-gradient(rgb(8, 61, 141), rgb(19, 106, 187));
  filter: opacity(80%);
  z-index: 5;
  position: fixed;
  color: white;
}
.header__wrapper {
  justify-content: space-between;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.header__li {
  margin: 0 30px;
}

.header img {
  width: 15em;
  padding: 5px;
  margin-left: 2em;
}

header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

/**********************************First section********************************/

h1 {
  padding-bottom: 30px;
  padding-top: 20vh;
  text-align: center;
}

.image {
  width: 50%;
  margin: 0 auto;
}
.first__section {
  padding: 1.3em;
  background-color: #28aea3;
  flex-direction: column;
  justify-content: center;
}

.second__section {
  padding: 1.3em;
  background-color: teal;
  flex-direction: column;
}

.third__section {
  padding: 1.3em;
  background: linear-gradient(teal 10%, #28aea3 90%);
  flex-direction: column;
}

.fourth__section {
  padding: 30px;
  padding-top: 30px;
  background: linear-gradient(#28aea3 70%, teal);
  flex-direction: column;
}

/**********************************Footer********************************/

.footer {
  background-color: teal;
  color: white;
  padding: 2em;
}

.footer__wrapper {
  flex-wrap: wrap;
  padding: 0 1em;
}
.footer__img {
  flex-basis: 50%;
  background-image: url(../img/CarepDiem-56.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__content {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: start;
  margin: 0 auto;
  padding-left: 3em;
}

.footer__icons__div {
  display: flex;
  justify-content: start;
  gap: 1.5em;
}

.footer img {
  width: 100%;
  margin-bottom: 2em;
}

.footer__img {
  background-image: url(../../../img/CarepDiem-56.jpg);
  background-position: center;
}

.footer p {
  font-size: x-large;
}

@media (max-width: 992px) {
  .footer p {
    font-size: medium;
  }
}

@media (max-width: 880px) {
  p {
    font-size: 0.9rem;
  }
  .icons {
    font-size: medium;
  }
  .footer {
    padding: 1em;
  }
  .footer img {
    margin-bottom: 2em;
  }
}
@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .image {
    flex-basis: 80%;
  }
  .icons {
    font-size: smaller;
  }
  .footer {
    padding: 1.5em 0;
  }
  .footer img {
    margin-bottom: 1.5em;
  }
  .footer p {
    font-size: small;
  }

  .footer__content {
    padding-left: 1.5em;
  }
}

@media (max-width: 576px) {
  header img {
    width: 10em;
  }
  section p {
    padding: 1em;
    font-size: 0.8rem;
  }
  h1 {
    padding-bottom: 10px;
    padding-top: 12vh;
  }
  .icons {
    font-size: small;
  }
  .footer {
    padding: 1em 0;
  }
  .footer p {
    font-size: x-small;
  }
  .footer img {
    margin-bottom: 1em;
  }
}

@media (max-width: 450px) {
  .header img {
    width: 10rem;
    margin-left: 1em;
  }
  .header img {
    width: 10rem;
    margin-left: 1em;
  }
  .menu-btn-burger {
    width: 35px;
    height: 4px;
    border-radius: 4px;
  }
  
  .menu-btn-burger::before,
  .menu-btn-burger::after {
    width: 35px;
    height: 4px;
  }
  
  .menu-btn-burger::before {
    transform: translateY(-10px);
  }
  .menu-btn-burger::after {
    transform: translateY(10px);
  }
  .icons {
    font-size: x-small;
  }
  .footer img {
    margin-bottom: 0.5em;
  }
  .footer__content {
    padding-left: 1em;
    row-gap: 0.6em;
  }
  
}

@media (max-width: 350px) {
  header img {
    margin-left: 0.4em;
  }
}
